<a href="https://colab.research.google.com/github/Telokin/175IC-machine-learning/blob/main/Zad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np
import pandas as pd
import sklearn as sk
from sklearn.preprocessing import LabelEncoder, StandardScaler
data={
    'size':['L','M','S','XS','XL','M','S','L','XXL','L','M'],
    'color':['green','red','yellow','black','grey','blue','green','red','yellow','black','grey'],
    'gender':['female','female','male','male','female','male','male','female','female','female','male'],
    'price':[149.0,79.0,152.0,123.0,321.0,32.0,23.0,49.0,79.0,152.0,84.0],
    'weight':[380,410,320,420,415,123,412,321,451,500,465],
    'bought':['no','yes','no','yes','no','yes','no','yes','no','yes','yes']
    }
df_raw=pd.DataFrame(data=data)
df=df_raw.copy()
for col in['size','color','gender','bought']:
  df[col]=df[col].astype('category') #nie do konca zrozumialem jak mam to zmienic na int i float zeby to zadzialalo
df.describe(include=['category']).T
le=LabelEncoder()
le.fit_transform(df['bought'])
pd.get_dummies(data=df,drop_first=True)
scaler=StandardScaler()
df[['price','weight']]=scaler.fit_transform(df[['price','weight']])

In [13]:
pd.get_dummies(data=df,drop_first=True)

       price    weight  size_M  ...  color_yellow  gender_male  bought_yes
0   0.452540 -0.034523       0  ...             0            0           0
1  -0.427399  0.273387       1  ...             0            0           1
2   0.490251 -0.650344       0  ...             1            1           0
3   0.125706  0.376024       0  ...             0            1           1
4   2.614674  0.324706       0  ...             0            0           0
5  -1.018215 -2.672291       1  ...             0            1           1
6  -1.131350  0.293915       0  ...             0            1           0
7  -0.804515 -0.640081       0  ...             0            0           1
8  -0.427399  0.694198       0  ...             1            0           0
9   0.490251  1.197119       0  ...             0            0           1
10 -0.364546  0.837890       1  ...             0            1           1

[11 rows x 14 columns]